<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>h1.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,1268},{420,565}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,565}}</string>
                <key>sourceSize</key>
                <string>{420,565}</string>
            </dict>
            <key>h10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1413,1136},{420,565}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,565}}</string>
                <key>sourceSize</key>
                <string>{420,565}</string>
            </dict>
            <key>h11.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,846},{420,565}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,565}}</string>
                <key>sourceSize</key>
                <string>{420,565}</string>
            </dict>
            <key>h12.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,1136},{420,565}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,565}}</string>
                <key>sourceSize</key>
                <string>{420,565}</string>
            </dict>
            <key>h13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1558,569},{420,565}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,565}}</string>
                <key>sourceSize</key>
                <string>{420,565}</string>
            </dict>
            <key>h2.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,424},{420,565}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,565}}</string>
                <key>sourceSize</key>
                <string>{420,565}</string>
            </dict>
            <key>h3.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,424},{420,565}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,565}}</string>
                <key>sourceSize</key>
                <string>{420,565}</string>
            </dict>
            <key>h4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1558,2},{420,565}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,565}}</string>
                <key>sourceSize</key>
                <string>{420,565}</string>
            </dict>
            <key>h5.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,2},{420,565}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,565}}</string>
                <key>sourceSize</key>
                <string>{420,565}</string>
            </dict>
            <key>h6.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{420,565}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,565}}</string>
                <key>sourceSize</key>
                <string>{420,565}</string>
            </dict>
            <key>h7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1136},{420,565}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,565}}</string>
                <key>sourceSize</key>
                <string>{420,565}</string>
            </dict>
            <key>h8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,569},{420,565}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,565}}</string>
                <key>sourceSize</key>
                <string>{420,565}</string>
            </dict>
            <key>h9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{420,565}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,565}}</string>
                <key>sourceSize</key>
                <string>{420,565}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>card_h.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ea2d11d32e53055c93f0f76438ee4477$</string>
            <key>textureFileName</key>
            <string>card_h.png</string>
        </dict>
    </dict>
</plist>
